h1 {
    color:rgb(119, 0, 255);
    text-align: center;
    
}

#sushi {
    background-color:tomato;
    float: right;
    border:1px solid black;
    margin-top: 0px;
}

#pizza {
    background-color:green;
    float: right;
    border:1px solid black;
    margin-top: 0px;
}

#macaroni {
    background-color:rgb(236, 236, 85);
    float:right;
    margin-top: 0px;
    border: 1px solid black;
}
div {
   background-color: cyan;
   width: 90%;
   margin-right: auto;
   margin-bottom: 40px;
   min-height: 600px;
   margin-left: 5%;
   border: 1px solid black;
}

p {
    color:violet;
    min-height: 212px;
    margin-top: 10%;
}

@media (min-width: 992px) {
    .col-lg-3 {
        float:left;
        border: 1px solid black;   
        width: 30%;
        margin-left: 2.5%
        
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        border: 1px solid black;
        width: 45%;
        margin-left:3.33%
    }
    #pasta {
        width: 93.34%;
        margin-left:3.33%;
       }

}

